# Ignore cache and temp
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.venv/

# Ignore big binary files (you can add back specific ones manually)
*.h5
*.hdf5
*.pkl
*.zip
*.tar.gz
*.log
*.npy

# Ignore full raw dataset folder (optional)
data/